.card-wrapper:hover > .color {
  background-image:
       linear-gradient( -90deg, 
       rgb(230, 30, 30) 5%,           
       rgb(206, 42, 36) 15%,           
       rgb(255, 244, 3) 30%,
       rgb(77, 221, 129) 38%,
       rgb(35, 29, 150) 48%,
       rgb(206, 42, 36) 60%,            
       rgb(181, 64, 228) 71%
     ),
       linear-gradient( 
       90deg, 
       rgba(246, 189, 3, 0.4) 1%,      
       hsl(0, 100%, 40%) 2.5%,          
       hsl(83, 50%, 35%) 5%,
       hsl(180, 10%, 50%) 7.5%,
       rgba(14, 21, 46, 0.5) 10%,
       rgba(14, 21, 46, 0.5) 15%
     ),
       radial-gradient(
       farthest-corner circle 
       at var(--mx) var(--my),
       rgba(6, 218, 255, 0.6) 0%, 
       rgba(38, 235, 127, 0.6) 25%, 
       rgba(155, 78, 228, 0.6) 50%, 
       rgba(228, 78, 90, 0.6) 75%
       );
  background-blend-mode: exclusion, hue, hard-light;
  background-size: 200% 700%, 300% 100%, 300% 100%;
  background-position: var(--posx) var(--posy), calc(var(--posx) * -1) var(--posy), center;
  filter: brightness(0.85);
}

.card-wrapper:hover > .color::after {
  content: "";
    background-size: 200% 400%, 195% 100%, 200% 100%;
    background-position: var(--posx) var(--posy), calc(var(--posx) * -1) var(--posy), center;
    filter: brightness(calc((var(--hyp) * 0.5) + 0.4)) contrast(2) saturate(4);
    mix-blend-mode: overlay;
  background-image: 
      repeating-linear-gradient( 90deg, 
      rgb(230, 30, 30) 5%,           
      rgb(206, 42, 36) 15%,           
      rgb(255, 244, 3) 30%,
      rgb(77, 221, 129) 38%,
      rgb(35, 29, 150) 48%,
      rgb(206, 42, 36) 60%,            
      rgb(181, 64, 228) 71%),
      
      repeating-linear-gradient( 
      90deg, 
      rgba(14, 21, 46, 0.5) 0%, 
      hsl(180, 10%, 50%) 2.5%, 
      hsl(83, 50%, 35%) 5%, 
      hsl(180, 10%, 50%) 7.5%, 
      rgba(14, 21, 46, 0.5) 10% , 
      rgba(14, 21, 46, 0.5) 15% 
      ),
      radial-gradient(
      farthest-corner circle 
      at var(--mx) var(--my),
      rgba(6, 218, 255, 0.6) 0%, 
      rgba(38, 235, 127, 0.6) 25%, 
      rgba(155, 78, 228, 0.6) 50%, 
      rgba(228, 78, 90, 0.6) 75%
      );
    background-blend-mode: exclusion, hue, hard-light;
}
