body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(39, 38, 38);
    overflow: hidden;
    cursor: crosshair;
}

.card {
    &-reflective {
        position: absolute;
        top: 20%;
        left: 40%;
        width: 280px;
        height: 390px;
        background: repeating-linear-gradient(62deg, rgb(218, 160, 176) 18.49%, rgb(255, 255, 255) 32.35%, rgb(217, 208, 146) 44.54%, #f1c0a2 53.78%, #f88c8c 70.59%, #c5b8b8 100%, #d6a8a8);
        border-radius: 8px;
        box-shadow: 0 20px 50px rgba(255, 255, 255, 0.3);
        transform: translate(-50%, -50%);
        will-change: transform, filter;
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, rgba(255, 0, 0, 0.3), rgba(0, 255, 0, 0.3), rgba(0, 0, 255, 0.3));
            z-index: 1;
            mix-blend-mode: lighten;
            pointer-events: none;
            border-radius: 8px;
        }
    
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
            z-index: 2;
            mix-blend-mode: screen;
            pointer-events: none;
            border-radius: 8px;
            animation: move-light 5s infinite linear;
        }

        &-image {
            position: absolute;
            top: 20%;
            left: 40%;
            width: 285px;
            transform: translate(-50%, -50%);
            will-change: transform;
            z-index: 6;
            opacity: 0.5;

            &-2 {
                position: absolute;
                top: 20%;
                left: 40%;
                width: 285px;
                transform: translate(-50%, -50%);
                will-change: transform;
                z-index: 7;
            }

            &-3 {
                position: absolute;
                top: 20%;
                left: 40%;
                width: 285px;
                transform: translate(-50%, -50%);
                will-change: transform;
                z-index: 8;
            }

        }

        &-holo, &-holo-2, &-holo-3 {
            width: 281px;
            height: 393px;
            top: 20%;
            left: 40%;
            transform: translate(-50%, -50%);
            position: absolute;
            transition: opacity 0.3s ease;
            will-change: opacity;
        }

        &-holo {
            opacity: 1;
        }
        &-holo-2, &-holo-3 {
            opacity: 0;
        }
    }
}

.button {
    position: absolute;
    left: 5%;
    top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;  // ボタン間の隙間（任意）
    height: 90vh;
  
    & > div {
      flex: 0 0 auto;  // 子要素の幅を自動調整
    }
  
    a {
      display: inline-block; /* ボタンのようにする */
      padding: 10px 20px; /* ボタン内の余白 */
      font-size: 16px; /* 文字の大きさ */
      font-weight: bold; /* 太字 */
      color: #ffffff; /* テキスト色 */
      background: linear-gradient(45deg, #ff7e5f, #feb47b); /* グラデーション背景 */
      border-radius: 8px; /* 角を丸く */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* ボタンの影 */
      text-align: center; /* テキストを中央寄せ */
      text-decoration: none; /* アンダーラインを消す */
      cursor: pointer; /* ポインタを指マークに */
      transition: all 0.3s ease; /* ホバー時のアニメーション */
  
      &:hover {
        background: linear-gradient(45deg, #feb47b, #ff7e5f); /* グラデーションを反転 */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); /* 影を強調 */
        transform: translateY(-3px); /* 少し浮かせる */
      }
    }
  }
  



